
**/Prototype 1/Temp/*
**/Prototype 1/Library/PackageCache/*
**/Challenge 1/.vs/Challenge 1/v17/.suo
*.log
**/Challenge 1/Temp/
**/Challenge 1/Library/PackageCache/*

Unity Junior Programmer/Prototype 2/.vsconfig
Unity Junior Programmer/Prototype 2/Assets/Course Library.meta
Unity Junior Programmer/Prototype 2/Assets/Course Library/Humans.meta
Unity Junior Programmer/Prototype 2/Assets/Course Library/Humans/SimpleFarmer_Man_02_White.prefab
Unity Junior Programmer/Prototype 2/Assets/Course Library/Humans/SimpleFarmer_Man_02_White.prefab.meta
Unity Junior Programmer/Prototype 2/Assets/Course Library/Humans/SimpleFarmer_Woman_01_Black.prefab
Unity Junior Programmer/Prototype 2/Assets/Course Library/Humans/SimpleFarmer_Woman_01_Black.prefab.meta
Unity Junior Programmer/Prototype 2/Assets/Course Library/Humans/SimpleFarmer_Woman_01_Brown.prefab
Unity Junior Programmer/Prototype 2/Assets/Course Library/Humans/SimpleFarmer_Woman_01_Brown.prefab.meta
Unity Junior Programmer/Prototype 2/Assets/Course Library/Humans/SimpleFarmer_Woman_01_White.prefab
Unity Junior Programmer/Prototype 2/Assets/Course Library/Humans/SimpleFarmer_Woman_01_White.prefab.meta
Unity Junior Programmer/Prototype 2/Assets/Course Library/Humans/SimpleFarmer_Woman_02_Black.prefab
Unity Junior Programmer/Prototype 2/Assets/Course Library/Humans/SimpleFarmer_Woman_02_Black.prefab.meta
Unity Junior Programmer/Prototype 2/Assets/Course Library/Humans/SimpleFarmer_Woman_02_Brown.prefab
Unity Junior Programmer/Prototype 2/Assets/Course Library/Humans/SimpleFarmer_Woman_02_Brown.prefab.meta
Unity Junior Programmer/Prototype 2/Assets/Course Library/Humans/SimpleFarmer_Woman_02_White.prefab
Unity Junior Programmer/Prototype 2/Assets/Course Library/Humans/SimpleFarmer_Woman_02_White.prefab.meta
Unity Junior Programmer/Prototype 2/Assets/Course Library/Materials.meta
Unity Junior Programmer/Prototype 2/Assets/Course Library/Materials/Material_Concrete.mat
Unity Junior Programmer/Prototype 2/Assets/Course Library/Materials/Material_Concrete.mat.meta
Unity Junior Programmer/Prototype 2/Assets/Course Library/Materials/Material_Grass.mat
Unity Junior Programmer/Prototype 2/Assets/Course Library/Materials/Material_Grass.mat.meta
Unity Junior Programmer/Prototype 2/Assets/Course Library/Materials/Material_Gravel.mat
Unity Junior Programmer/Prototype 2/Assets/Course Library/Materials/Material_Gravel.mat.meta
Unity Junior Programmer/Prototype 2/Assets/Course Library/Materials/Material_Sand.mat
Unity Junior Programmer/Prototype 2/Assets/Course Library/Materials/Material_Sand.mat.meta
Unity Junior Programmer/Prototype 2/Assets/Scenes.meta
Unity Junior Programmer/Prototype 2/Assets/Scenes/Prototype 2.unity
Unity Junior Programmer/Prototype 2/Assets/Scenes/Prototype 2.unity.meta
Unity Junior Programmer/Prototype 2/Assets/Scenes/SampleScene.unity
Unity Junior Programmer/Prototype 2/Assets/Scenes/SampleScene.unity.meta
Unity Junior Programmer/Prototype 2/Packages/manifest.json
Unity Junior Programmer/Prototype 2/Packages/packages-lock.json
Unity Junior Programmer/Prototype 2/ProjectSettings/AudioManager.asset
Unity Junior Programmer/Prototype 2/ProjectSettings/ClusterInputManager.asset
Unity Junior Programmer/Prototype 2/ProjectSettings/DynamicsManager.asset
Unity Junior Programmer/Prototype 2/ProjectSettings/EditorBuildSettings.asset
Unity Junior Programmer/Prototype 2/ProjectSettings/EditorSettings.asset
Unity Junior Programmer/Prototype 2/ProjectSettings/GraphicsSettings.asset
Unity Junior Programmer/Prototype 2/ProjectSettings/InputManager.asset
Unity Junior Programmer/Prototype 2/ProjectSettings/NavMeshAreas.asset
Unity Junior Programmer/Prototype 2/ProjectSettings/PackageManagerSettings.asset
Unity Junior Programmer/Prototype 2/ProjectSettings/Physics2DSettings.asset
Unity Junior Programmer/Prototype 2/ProjectSettings/PresetManager.asset
Unity Junior Programmer/Prototype 2/ProjectSettings/ProjectSettings.asset
Unity Junior Programmer/Prototype 2/ProjectSettings/ProjectVersion.txt
Unity Junior Programmer/Prototype 2/ProjectSettings/QualitySettings.asset
Unity Junior Programmer/Prototype 2/ProjectSettings/TagManager.asset
Unity Junior Programmer/Prototype 2/ProjectSettings/TimeManager.asset
Unity Junior Programmer/Prototype 2/ProjectSettings/UnityConnectSettings.asset
Unity Junior Programmer/Prototype 2/ProjectSettings/VersionControlSettings.asset
Unity Junior Programmer/Prototype 2/ProjectSettings/VFXManager.asset
Unity Junior Programmer/Prototype 2/ProjectSettings/XRSettings.asset
